body {
      background-color: #17290e;
      justify-content: center;

}

.pic1{
         position: relative; 
         left: 10px;
         top: 10px;
         height: 500px;          
}

.pic2{
         position: relative; 
         left: 20px;
         top: 10px;
         height: 500px;
}

.pic3{
         position: relative; 
         left: 30px;
         top: 10px;
         height: 500px;         
}

.pic4{
         position: relative; 
         left: 40px;
         top: 10px;
         height: 500px;          
}
.pic5{
        position: relative; 
         left: 10px;
         top: 20px;
         width: 340px;
         height:500px;      
}
.pic6{
         position: relative; 
         left: 20px;
         top: 20px;
         width: 370px;
         height:500px;        
}
.pic7{
         position: relative; 
         left: 35px;
         top: 20px;
         height: 500px;  
         width: 325px;
          
}
.pic8{
         position: relative; 
         left: 45px;
         top: 20px;
         height: 500px;  
         width: 315px;
        
}
.pic9{
         position: relative; 
         left: 10px;
         top: 30px;
         height: 500px;   
         width: 340px;     
}
.pic10{
         position: relative; 
         left: 20px;
         top: 30px;
         height: 500px;  
         width: 370px;       
}
.pic11{
         position: relative; 
         left: 35px;
         top: 30px;
         height: 500px;         
}
.pic12{
         position: relative; 
         left: 45px;
         top: 30px;
         height: 500px; 
         width: 320px;       
}
