   body {
        	background-color: #442913;
        	color: #D4BBAC;
            margin: 10px;
        }

        img {
        	width: 500px;
        }


        h1{
        	font-family: monospace;
        	font-size: 30px;
            font-weight: bold;
        }

        h2{
            font-size: 20px;
            font-family: Georgia, Times, Times New Roman, serif;
        }

        .jar {background-color: cadetblue;
             width: 500px;
             margin: 0 auto;
             padding: 10px;

        }
        
        p {
        	font-family: monospace;
        	font-size: 15px;
        }

        a {
        	font-size: 10px;
        	color: #98755B;
        }

